@{
    ViewData["Title"] = "Home Page";
}
<div class="bkg-rocket">
<div class="container">
    <div class="row">
        <div class="col-6 text-left solid-plate">
            <h1 class="text-left">Welcome to Yupi! <br /> Analytics</h1>
            <p class="text-left">We are developing the most advanced sales analytic software for HubSpot in the world.</p>
            <a href="/workorders/" class="btn btn-danger btn-lg">Start</a>
        </div>
    </div>
</div>
</div>
