@model IEnumerable<Entities.Models.Pipeline>

@{
    ViewData["Title"] = "Index";
}


<div class="margin-top ">
    <div class="container">
        <div class="row ">
            <div class="col-6 text-left">

                <h1 class="text-left">Pipelines</h1>
                <p class="text-left">You are looking all the pipelines in your hubspot. </p>
                <p class="text-left">Stages analysis show you a quick view of the evolution of your pipeline.</p>
                <p class="text-left">Owners analysis show you the performance of you team.</p>

            </div>
            <div class="col-6">          

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                               Pipeline name
                            </th>                          
                        
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>                               
                            
                                <td class="text-right">                                
                                    <a asp-controller="StagesAnalysis" asp-action="Index" asp-route-id="@item.HsPipeLineId" asp-route-wid="@item.WorkOrderId">Analyze stages</a> |
                                    <a asp-controller="Hsowners" asp-action="Index" asp-route-id="@item.HsPipeLineId">Analyze owners</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>


    </div>
</div>
