@model Entities.Models.StagesAnalysis

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StagesAnalysis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StagesAnalysisId" />
            <div class="form-group">
                <label asp-for="Stagename" class="control-label"></label>
                <input asp-for="Stagename" class="form-control" />
                <span asp-validation-for="Stagename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealsNumber" class="control-label"></label>
                <input asp-for="DealsNumber" class="form-control" />
                <span asp-validation-for="DealsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealAverage" class="control-label"></label>
                <input asp-for="DealAverage" class="form-control" />
                <span asp-validation-for="DealAverage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageValue" class="control-label"></label>
                <input asp-for="StageValue" class="form-control" />
                <span asp-validation-for="StageValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
